= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.text_area :content, :id=>"some-textarea" , :placeholder=>"ddd"

  .form-actions
    = f.button :submit
<script type="some-textarea">$('wysihtml5-textarea').wysihtml5({"font-styles": true,"emphasis": true,"lists": true,"html": true,"link": true,"image": true,"color": true});</script>
