-if can? :create, @article
  = link_to 'New Article', new_article_path
%br
%br
-@articles.each do |article|
  .article
    =link_to article.title, article, :class=> 'article_title'
    =simple_format article.content
    %p Author: #{article.user.name}
    -if can? :update, @article
      = link_to 'Edit', edit_article_path(article)
    -if can? :destroy, @article
      = link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }
  %br
= paginate @articles
